
.recipe {
    background-color: burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    max-width: 600px;
    margin: 0 auto;
}

.container {
    border-color: black;
    border-style: solid;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    position: relative;
    padding: 20px;
    top: 100px;
}

.pieimg {
    background: linear-gradient(to bottom, red, #800020);
    background-size: cover;
    background-origin: border-box;
    border: .5rem double olive;
    box-shadow: 0 0 0px black;
    border-radius: 50%;
    position: absolute;
    height: 150px;
    width: 150px;
    display: flex;
    align-self: center;
    justify-self: baseline;
    animation: DownGrowUpShrink 4s forwards;
    transform: scale(0.2) translateY(0);
}

.piedisc {
    color: red;
    align-self: flex-start;
    height: 20px;
    padding-bottom: 20px;
    
}

.homebtn {
    border-color: black;
   
}

.ingredientsList ul {
    opacity: 1;
    height: 150px;
    margin: 10px 0;
    transition: height 1s, opacity 1s;
}

.ingredientsList li {
    opacity: 1;
    margin: 10px 0;
    transition: height 1s, opacity 1s;
    font-family: 'Vina Sans', sans-serif;
}


ul {
    opacity: 0;
    height: 0;
    margin: 10px 0 0 0;
    transition: height 1s, opacity 1s;
    font-size: 20px;
    letter-spacing: 4px;
    font-family: 'Vina Sans', sans-serif;
}



.dropdown-content1 {
    display: none;
}

h1 {
    font-family: 'Vina Sans', sans-serif;
    letter-spacing: 6px;
    border-bottom: black 2px solid;
    width: 100%;
    font-size: 36px;
    -webkit-text-stroke: 3px black;
    -webkit-text-fill-color: burlywood;
    text-align: center;
    margin: 0 0 10px 0;
    line-height: 48px;
}

h2 {
    -webkit-text-stroke: 2px #800020;
    -webkit-text-fill-color: burlywood;
    font-family: 'Vina Sans', sans-serif;
    letter-spacing: 4px;
    line-height: 15px;
    font-size: 1.8rem;
}

/*

@keyframes DownGrowUpShrink {
    0% {
        transform: translateY(0) scale(0.2);
        box-shadow: 100px 100px 10px 10000px black;
    }

    25% {
        transform: translateY(65vh) scale(0.2);
    }
    35% {
        transform: translateY(65vh) scale(3.5);
    }
    85% {
        transform: translateY(-60%) scale(3.5);
        box-shadow: 0 0 10px black;
    }
    100% {
        transform: translateY(-60%) scale(1);
        box-shadow: 0 0 10px black;
    }

}

